@use 'src/styles/vars' as v;

footer {

  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  height: 100px;
  text-align: center;
  overflow-x: hidden;
  padding: 0.5rem 0;
  background-color: v.$primary;
  color: v.$light;
}

.footer__title {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0.3rem 0;
}
span {
  margin: 0.1rem 0;
  color: #eee;
}
.footer__grid {
  display: flex;
  flex-direction: column;
}

.footer__brands-icons {
  font-size: 1.3rem;
  margin: 0.2rem 0.4rem;
  color: #eee;

}

@media screen and (max-width: v.$max-width) {
  footer {
    font-size: 0.8rem;
  }
  .footer__title {
    font-size: 1.1rem;
  }
  .footer__brands-icons {
    font-size: 1.1rem;

  }
}
