@use 'src/styles/vars' as v;

.navbar {
  border-bottom: 2px solid v.$alternate;
  //position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 1rem;
  padding: 0.6rem 0rem;
  height: 50px;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  &__toggler {
    align-self: center;
    color: v.$alternate;
    font-size: 1.7rem;
    cursor: pointer;
  }
  &__search {
    color: v.$alternate;
    align-self: center;
    font-size: 1.7rem;
    cursor: pointer;
  }
  &__title {
    display: flex;
    font-size: 2rem;
    & span {
      color: v.$alternate !important;
    }
    font-weight: bold;
  }

  &__list {
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 50%;
    height: auto;
    position: absolute;
    background-color: v.$light;
    left: 0px;
    top: 50px;
    opacity: 1;
    z-index: 1;
    transition: all 0.3s ease-out;
    &-ishidden{
      opacity: 0;
      height: 0;
      left: -50%;

    }
  }
  &__items {
    padding: 0.3rem;
    color: v.$alternate;
    font-size: 1.1rem;
    font-weight: bold;
    border-bottom: 1px solid v.$alternate;
  }
  &__search-form {
    align-self: center;
    height: 3rem;
    width:230px
  }
  &__search-form--input {
    height: 100%;
    border: 2px solid transparent;
    font-size: 1.1rem;
    width: 190px;
    background-color: v.$light;
    color: black;
    &:focus {
      border-bottom: 2px solid v.$alternate;
    }
    &::placeholder {
      color: black;
    }
  }
}
fieldset {
  border: 1px solid v.$primary;
  color: v.$alternate;
}
