@use 'src/styles/vars' as v;

.admin {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 15% 85%;
  &__users_logo {
    width: 50px;
    height: 50px;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    border-right: 2px solid v.$alternate;
    font-size: 2rem;
    font-weight: bold;
    color: v.$primary;
    & h1 {
      text-align: center;
      padding: 1rem 0;
    }
  }
  &__navbar__items {
    font-size: 1.6rem;
    font-weight: normal;
    color: v.$primary;
    background-color: white;
    border-bottom: 5px solid v.$primary;
    padding: 0.5em 1rem;
    width: 0%;    
    transition: all 0.6s ease-in-out;
    &-active {
        width:100%;
        border-bottom: 5px solid transparent;
        background-color: v.$primary;
        color: white;
      }
    }
  &__content {
    width: 100%;
    padding: 2rem;
  }
}

.admin__games_table {
  width: 100%;
  & thead, tr {
    width: 100%;
  }
  & tbody tr:nth-child(odd) {
    background-color: v.$alternate;
  }
}
