@use 'src/styles/vars';
@media (min-width: 1200px) {
  .game {
    width: 100vw;
    background-color: vars.$light;
    display: flex;
    flex-direction: column;
    &__section1 {
      display: flex;
      justify-content: space-evenly;
      margin: 2rem;
      padding: 2rem 0 4rem 0;
      border-bottom: solid 1px vars.$alternate;
    }

    &__image {
      width: 30%;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    &__name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 450px;
      border-bottom: solid 1px vars.$alternate;
      margin-bottom: 1rem;

      &__content {
        color: vars.$grey;
        font-size: 30px;
        text-shadow: 0 0 2px vars.$primary;
        padding-bottom: 2rem;
        
      }
      &__add {
        display: flex;
        align-items: flex-end;
        align-self: flex-end;
        margin-bottom: .2rem;
        &--text {
          font-size: .8rem;
          text-decoration: underline;
          color: lightgray;
        }
        &--icon {
          color: vars.$grey;
          font-size: 30px;
        }
      }
    }

    &__describe {
      color: vars.$grey;
      margin: 1rem 0;
    }

    &__carac {
      display: flex;
      justify-content: space-around;
      margin: 2rem 0;
    }

    &__duration {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      &--icon {
        font-size: 2rem;
        margin-bottom: .3rem;
        color: vars.$alternate;
      }

      &--text {
        font-size: 1.2rem;
      }
    }

    &__nb {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      &--icon {
        font-size: 2rem;
        margin-bottom: .3rem;
        color: vars.$primary;
      }

      &--text {
        font-size: 1.2rem;
      }
    }

    &__age {
      display: flex;
      justify-content: center;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    &__themetitle {
      padding-top: 1rem;
      border-top: vars.$alternate 1px solid;
      color: vars.$primary;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      margin-bottom: 2rem;
      padding-top: 2rem;
      text-shadow: 0 0 1px black;
    }

    &__tag {
      display: flex;
      justify-content: space-evenly;

      &__cat {
        background-color: vars.$alternate;
        width: fit-content;
        padding: .5rem;
        border-radius: .5rem;
        margin-bottom: 1rem;
        box-shadow: 0 0 10px vars.$grey;
      }

      &__theme {
        background-color: vars.$primary;
        width: fit-content;
        padding: .5rem;
        border-radius: .5rem;
        margin-bottom: 1rem;
        box-shadow: 0 0 10px vars.$grey;
      }
    }
  }
}
@media (max-width: 1200px) {
  .game {
    overflow-y: auto;
    margin: auto;
    background-color: vars.$light;
    display: flex;
    flex-direction: column;
    width: 100vw;
    &__section1 {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin: 2rem 4rem 0 4rem;
      height: fit-content;
    }
    &__image {
      height: 150px;
      width: 150px;
    }
    

    &__content {
      margin: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    &__name {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1rem;
      border-bottom: solid 1px vars.$alternate;
      margin-bottom: 1rem;

      &__content {
        color: vars.$grey;
        font-size: 30px;
        text-shadow: 0 0 2px vars.$primary;
      }
      &__add {
        display: flex;
        align-items: center;
        &--text {
          font-size: .8rem;
          text-decoration: underline;
          color: vars.$alternate;
          margin-right: 1rem;
          margin-top: 1rem;
        }
        &--icon {
          color: vars.$grey;
          font-size: 30px;
        }
      }
    }

    &__email {
      color: vars.$grey;
      margin: 1rem 0;
    }

    &__dpt {
      display: flex;
      margin-bottom: 1rem;
  
      &__title {
        margin-right: 50px;
      }
  
      &__content {
        color: vars.$grey;
      }
    }

    &__themetitle {
      padding-top: 1rem;
      border-top: vars.$alternate 1px solid;
      color: vars.$primary;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      margin-bottom: 1rem;
      text-shadow: 0 0 1px black;
    }

    &__tag {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: vars.$alternate solid 1px;
      
      &__cat {
        background-color: vars.$alternate;
        width: fit-content;
        padding: .5rem;
        border-radius: .5rem;
        margin-bottom: 1rem;
        box-shadow: 0 0 10px vars.$grey;
      }
  
      &__theme {
        background-color: vars.$primary;
        width: fit-content;
        padding: .5rem;
        border-radius: .5rem;
        margin-bottom: 1rem;
        box-shadow: 0 0 10px vars.$grey;
      }
    }
  
  }
}
