.profil {
  &__section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 4rem;
  }

  &__ludo {

    &__title {
      display: flex;
      justify-content: center;
      align-items: center;

      &__content {
        margin-right: 30px;
        color: rgb(230, 149, 44);
        font-weight: bold;
        font-size: 20px;
      }

      &__search {
        padding: .4rem;
        border-radius: 1rem;
        border: none;
        width: fit-content;
      }
    }

    &__games {
      display: flex;
      justify-content: space-around;
      margin: 2rem 0;

      &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
      }

      &__pic {
        width: 100%;
      }
    }
  }
  &__plus {
    align-self: center;
    font-size: 2rem;
    color: orange;
    font-weight: bold;
    margin-bottom: 2rem;
  }
}
