@use 'src/styles/vars' as v;

.eventModal{
  display: flex;
  height: 100%;
  overflow-y: hidden;
  &-part1 {  
    width: 30%;
    background-color: v.$primary;
  }
  &-img {
    width: 100%;
    height: 100vh;
  }
  &-part3 {
    padding: 2rem 7rem 1rem 7rem;
    width: 70%;
    box-shadow: 0 0 10px v.$grey;
    display: flex;
    flex-direction: column;
  }
  &-formevent{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &-titleform{
    align-self: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  &-titleformevent {
    width: 50%;
    align-self: center;
  }
  &-datehour {
    width: fit-content;
    align-self: center;
  }
  &-codetown {
    display: flex;
    justify-content: space-between;
  }
  &-code {
    width: fit-content;
  }
  &-town {
    width: fit-content;
  }
  &-textarea {
    width: 100%;
    margin-bottom: auto;
  }
  &-btnformevent{
    border: none;
    background-color: v.$alternate;
    box-shadow: 0 0 3px v.$grey;
  }
}


