@use 'src/styles/vars';

.games {

  &__list {
    margin: 2rem;
    width: 75%;

    &--title {
      font-size: 2rem;
      color: vars.$primary;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    &--cards {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

  .card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: vars.$light;
  padding: 0.8rem;
  margin: 1rem;
  border-radius: 10px;
  width: 240px;
  box-shadow: 5px 5px 20px rgba(100,100,100, 0.5);
  align-items: center;
  &-img {
  width: 200px;
  height: 200px;
  }
  &-title {
  font-weight: bold;
  padding: 1rem 0;
  color: vars.$grey;
  }
  &-link {
  position:absolute;
  bottom: -15px;
  background-color: vars.$alternate;
  padding: 0.5rem 1.2rem;
  color: vars.$light;
  border-radius: 10px;
  display: inline;
  text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .games {

    &__list {
      margin: 2rem;
  
      &--title {
        text-align: center;
        font-size: 1.5rem;
        color: vars.$primary;
        font-weight: bold;
        margin-bottom: 1rem;
      }
  
      &--cards {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
  .card {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: vars.$light;
    padding: 0.3rem;
    margin: 1rem .5rem;
    border-radius: 10px;
    width: 43%;
    box-shadow: 5px 5px 20px rgba(100,100,100, 0.5);
    align-items: center;
    &-img {
    width: 100%;
    }
    &-title {
    font-weight: bold;
    padding: 1rem 0;
    color: vars.$grey;
    }
    &-link {
    position:absolute;
    bottom: -15px;
    background-color: vars.$alternate;
    padding: 0.5rem 1.2rem;
    color: vars.$light;
    border-radius: 10px;
    display: inline;
    text-align: center;
    }
  }
}

