@use 'src/styles/vars';

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

  &__title {
    margin: 1rem 0 0 0;
    font-size: 2rem;
    font-weight: bold;
    color: vars.$primary;
  }

  &__create {
    color: vars.$alternate;
    text-decoration: underline;
    background-color: white;
    padding: 0.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    width: 500px;
    text-align: center;
  }

  &__main {
    font-size: 1.4rem;
    width: 90%;
    margin-bottom: 2rem;
    &__nav{
      margin-bottom: 1rem;
      padding: 0 2rem;
      font-weight: bold;
      &--list {
        display: flex;
        justify-content: space-around;
      }
      &--mainItem {
        width: 30%;
      }

      &--item {
        width: 14%;
        text-align: center;
      }
    }

    &__items {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      border-top: vars.$primary 2px solid;
      border-left: vars.$primary 1px solid;
      padding: 1rem 2rem;
      box-shadow: 4px 4px 5px #b1b1b1;
      background-color: vars.$light;
      border-radius: 10px;
      &--mainItem {
        width: 30%;
        justify-self: flex-start;
        text-decoration: underline;
      }
      & p, form {
        width: 14%;
        text-align: center;
      }
      &--linkprofil {
        width: 14%;
        text-align: center;
        color: vars.$alternate;
      }
      &--setup {
        width: 14%;
        text-decoration: underline;
        text-align: center;
        cursor: pointer;
      }
      &--full {
        width: 14%;
        color: vars.$primary;
        text-align: center;
      }
      &--date {
        width: 14%;
        display: flex;
        align-items: center;
        flex-direction: column;
        & p {
          width: 100%;
          margin-bottom: 0.5rem;
        }
      }
      &--address {
        width: 14%;
        display: flex;
        align-items: center;
        flex-direction: column;
        & p {
          width: 100%;
          margin-bottom: 0.5rem;
        }
      }
      &--inscription_text {
        width: 100% !important;
        font-size: 1rem;
      }
    }
  }
}

.customStylesEvent { 
  position: absolute;
  top                   : 50%;
  left                  : 50%;
  right                 : auto;
  bottom                : auto;
  margin-right           : -50%;
  height                : 80%;
  width                 : 50%;
  transform             : translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  outline: none;
};

@media screen and (max-width: 960px) {
  .customStylesEvent { 
    position: absolute;
    top                   : 50%;
    left                  : 50%;
    right                 : auto;
    bottom                : auto;
    margin-right           : -50%;
    height                : fit-content;
    width                 : 90%;
    transform             : translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    outline: none;
  };
}
