@use 'src/styles/vars';

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

  &__title {
    margin: 1rem 0 2rem 0;
    font-size: 2rem;
    font-weight: bold;
    color: vars.$primary;
  }

  &__create {
    position: fixed;
    top: 13%;
    right: 20px;
    color: vars.$alternate;
    text-decoration: underline;
    background-color: white;
    padding: 0.5rem;
    box-shadow: 0 0 5px vars.$alternate;
    font-weight: bold;
  }

  &__main {
    font-size: 1.4rem;
    width: 90%;
    margin-bottom: 2rem;
    &__nav{
      margin-bottom: 1rem;
      padding: 0 2rem;
      font-weight: bold;
      &--list {
        display: flex;
        justify-content: space-around;
      }
      &--mainItem {
        width: 30%;
      }

      &--item {
        width: 14%;
        text-align: center;
      }
    }

    &__items {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      border-top: vars.$primary 2px solid;
      border-left: vars.$primary 1px solid;
      padding: 2rem;
      box-shadow: 4px 4px 5px #b1b1b1;
      background-color: vars.$light;
      border-radius: 10px;
      &--mainItem {
        width: 30%;
        justify-self: flex-start;
        text-decoration: underline;
      }
      & p, form, {
        width: 14%;
        text-align: center;
      }
      &--linkprofil {
        width: 14%;
        text-align: center;
        color: vars.$alternate;
      }
      &--setup {
        width: 14%;
        text-decoration: underline;
        text-align: center;
        cursor: pointer;
      }
      &--full {
        width: 14%;
        color: vars.$primary;
        text-align: center;
      }
    }
  }
}
