@use 'src/styles/vars' as v;

.iconTrash {
  pointer-events: none;
}
.iconSend {
  pointer-events: none;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-title {
    font-size: 2rem;
    font-weight: bold;
    color: v.$primary;
    margin: 2rem 0;
  }
  &-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 2rem;
  }
  &-item {
    border-bottom: 1px solid v.$alternate;
  }
  &-article {
    display: flex;
    align-items: center;
    margin: 1.5rem 1rem;
  }
  &-text {
    width: 60%;
  }
  &-date {
    text-align: center;
    width: 10%;
    margin:0 2rem;
  }
  &-name {
    width: 20%;
    text-align: center;
    margin-right: auto;
    color: v.$alternate;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 2rem;
  }
  &-icons {
    width: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
  }
  &-send {
    border: none;
    background: none;
    padding: 0;
  }
  &-trash {
    border: none;
    background: none;
    padding: 0;
  }
  &-head {
    padding: 2rem 7rem 1rem 7rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: -webkit-fill-available;
  }
  &-titlemodal {
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    margin-bottom: 4rem;
    text-align: center;
  }
  &-form {
    width: 100%;
    display: contents;
  }
  &-textmodal {
    width: 100%;
    margin-bottom: auto;
  }
  &-btn {
    background-color: v.$alternate;
    height: 35px;
    width: 100%;
    color: white;
    border: none;
    border-radius: 5px;
  }



}

.customStylesMsg {
  position: absolute;
  top                   : 50%;
  left                  : 50%;
  right                 : auto;
  bottom                : auto;
  margin-right           : -50%;
  height                : 50%;
  width                 : 50%;
  transform             : translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  outline: none;
}

@media screen and (max-width: 960px) {
  .customStylesMsg { 
    position: absolute;
    top                   : 50%;
    left                  : 50%;
    right                 : auto;
    bottom                : auto;
    margin-right           : -50%;
    height                : fit-content;
    width                 : 90%;
    transform             : translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    outline: none;
  };

  .messages {
    &-titlemodal {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    &-head {
      padding: 1rem;
    }
    &-btn {
      margin-top: 2rem;
    }
  }
}



@media screen and(max-width: 960px){
  .iconSend{
    margin-right: 1rem;
    }
}
