@use 'src/styles/vars' as v;

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  overflow-x: hidden;
  &__accueil__container {
    position: relative;
    z-index: 0;
  }
  &__accueil-img {
    width: 400%;
    padding: 0;
    margin-top: -30%;
    margin-left: -120%;
  }
  &__title {
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 320px;
    top: 15%;
    font-size: 2rem;
    font-weight: bold;
    color: v.$light;
    padding: 1rem 0;
  }
  &__subtitle {
    display: block;
    padding: 1rem 0.3rem;
    font-size: 1rem;
    text-shadow: 2px 2px 1px rgba(100,100,100,0.7);
    font-weight: lighter;
  }
  &__top {
    background-color: #e7e7e7;
    width: 100%;
    padding: 1rem;
    &-cards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &-title {
      padding: 1rem 0rem;
      color:v.$grey;
      font-weight: bold;
      z-index: 1;
      border-bottom: 2px solid v.$grey;
    }
  }
}

.btn {
  display: inline-block;
  margin: 0.3rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid transparent;
  z-index: 1;
  width: 130px;
  height: 2rem;
  border-radius: 15px;
}

.btn-login {
  background-color: v.$light;
}
.btn-signup {
  background-color: v.$primary;
  color: v.$light;
}

@media screen and(min-width: 960px) {
  .home {
    &__accueil__container {
      height: 700px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__title {
      top: 30%;
    }
    &__accueil-img {
      width: 100%;
      position: relative;
      padding: 0;
      margin: 0;
    }
    &__top {
      padding: 1rem;
    }
  }
  .btn {
    height: 3rem;
    width: 200px;
  }
  @media screen and(max-width: 1200px) {
    .home {
      &__accueil__container {
        height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      &__accueil-img {
        width: 400%;
        padding: 0;
        margin-top: 0%;
        margin-left: -120%;
      }
      &__title {
        top: 30%;
        left: 5%;
      }
    }
  }
}
