@use 'src/styles/vars' as v;

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  overflow-x: hidden;
  &__accueil__container {
    position: relative;
    z-index: 0;
  }
  &__accueil-img {
    width: 400%;
    padding: 0;
    margin-top: -30%;
    margin-left: -120%;
  }
  &__title {
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px;
    top: 15%;
    font-size: 2rem;
    font-weight: bold;
    color: v.$light;
    padding: 1rem 0;
    &--content {
      text-shadow: 0 0 5px black;
    }
    &--name {
      font-size: 4rem;
      color: v.$primary;
      text-shadow: 5px 5px 10px black;
    }
  }
  &__subtitle {
    display: block;
    padding: 1rem 0.3rem;
    font-size: 1rem;
    text-shadow: 1px 2px 1px v.$grey;
    font-weight: lighter;
    margin-bottom: 4rem;
  }
  &__top {
    background-color: #e7e7e7;
    width: 100%;
    padding: 1rem;
    &-cards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &-title {
      padding: 1rem 0rem;
      color:v.$grey;
      font-weight: bold;
      z-index: 1;
      border-bottom: 2px solid v.$grey;
    }
  }
}

.btn {
  display: inline-block;
  margin: 0.3rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid transparent;
  z-index: 1;
  width: 130px;
  height: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-login {
  background-color: v.$light;
  margin-bottom: 2rem;
  border-radius: 30px;
  transition: all ease 0.5s;
  &:hover{
    background-color: rgb(233, 233, 233);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    transition: all ease 0.5s;
  }
}
.btn-signup {
  background-color: v.$primary;
  color: v.$light;
  border-radius: 30px;
  transition: all ease 0.5s;
  &:hover{
    background-color: #da5e57;
    color: white;
    box-shadow: 0 0 10px black;
    transition: all ease 0.5s;
  }
}


.modal_signup {
  display: flex;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  &--part1 {
    width: 30%;
    background-color: v.$primary;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  &--part2 {
    padding: 2rem 7rem 1rem 7rem;
    width: 70%;
    box-shadow: 0 0 10px v.$grey;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }

  &--img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  &--close {
    position: absolute;
    top: 15px;
    font-size: 24px;
    left: 15px;
  }
  &--form {
    width: 100%;
    height: 100%;
    display: contents;
  }

  &--name {
    display: flex;
    justify-content: space-between;
  }


  &--title {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  &--pwdate {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &--types {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    height: 180px;
  }
  &--cat {
    display: flex;
    flex-direction: column;
  }
  &--themes {
    display: flex;
    flex-direction: column;
  }
  &--typesresultscat {
    cursor: pointer;
    display: flex;
    margin: 1rem 0 0 1rem;
    &__label {
      pointer-events: none;
      margin-left: 0.5rem;
      color: v.$alternate;
    }
  }
  &--typesresultsthemes {
    cursor: pointer;
    display: flex;
    margin: 1rem 0 0 1rem;
    &__label {
      pointer-events: none;
      margin-left: 0.5rem;
      color: v.$primary;
    }
  }
  &--maxtypes {
    color: v.$primary;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateX(-200px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(-100px);
}

@media screen and(min-width: 960px) {
  .home {
    &__accueil__container {
      height: 700px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__title {
      top: 30%;
    }
    &__accueil-img {
      width: 100%;
      position: relative;
      padding: 0;
      margin: 0;
    }
    &__top {
      padding: 1rem;
    }
  }
  .btn {
    height: 3rem;
    width: 200px;
  }
  @media screen and(max-width: 1200px) {
    .home {
      &__accueil__container {
        height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      &__accueil-img {
        width: 400%;
        padding: 0;
        margin-top: 0%;
        margin-left: -120%;
      }
      &__title {
        top: 30%;
        left: 5%;
      }
    }
  }
}

@media screen and(max-width: 960px) {
  .modal_signup {
    &--part1 {
      display: none;
    }
    &--part2 {
      width: 100%;
      padding: 1rem;
      border-radius: 20px;
      overflow-y: auto;
    }
    &--titleconnect {
      width: 100%;
    }
    &--pw {
      flex-direction: column;
    }
    &--name {
      flex-direction: column;
      width: 65%;
    }
    &--pwdate {
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
    }
    &--types {
      flex-direction: column;
      height: auto;
    }
    &--cat {
      margin-bottom: 1rem;
    }
    &--themes {
      margin-bottom: 4rem;
    }
  }
}
