@use 'src/styles/vars' as v;

.close_delete {
  pointer-events: none;
}

.edit_event {
  pointer-events: none;

}
.all_btn {
  display: flex;
  width: 30px;
  justify-content: space-between;
  font-size: 1rem;
  margin-left: 1rem;
}
.all_btn button {
  border: none;
  background: none;
}

#mapid {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  //background-color: black;
  
  height:40vh;
}

.leaflet-container {
  position: absolute;
  bottom: 4px;
  border-radius: 5px;
  width: 34vw;
  height:40vh;
  border: 1px solid v.$grey;

}
.close_modal{
  position: absolute;
  top: 15px;
  font-size: 24px;
  right: 15px;
}

.eventModal{
  display: flex;
  height: 100%;
  overflow-y: hidden;
  &-part1 {  
    width: 30%;
    background-color: v.$primary;
  }
  &-img {
    width: 100%;
    height: 100vh;
  }
  &-part2 {
    width: 70%;
    box-shadow: 0 0 10px v.$grey;
    display: flex;
    flex-direction: column;
  }
  &-head {
    padding: 2rem 7rem 1rem 7rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: auto;
  }
  &-title {
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    text-align: center;
  }
  &-date {
    color: v.$primary;
    margin-top: 1rem;
  }
  &-creator {
    margin-bottom: 4rem;
  }
  &-players {
    width: 160px;
    height: fit-content;
    background-color: v.$light;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 2rem;
    left: 22%;
    padding: 3px;
    &--title {
      color: v.$alternate;
      margin-bottom: 1rem;
    }
    &--content {
      margin-bottom: 1rem;
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 960px) {
  .eventModal{
    &-part2 {
      width: 100%
    }
    &-head {
      padding: 1rem;
    }
    &-title {
      font-size: 1.5rem;
    }
    &-players {
      width: 100px;
      top: 1rem;
      left: 2%;
      font-size: 0.8rem;
      padding: 1px;
      &--title {
        text-align: center;
      }
      &--content {
        font-size: .8rem;
      }
    }
    &-date {
      margin-left: 120px;
    }
    &-creator {
      margin-left: 120px;
    }
  }
  
  .leaflet-container {
    text-align: center;
    width: 90%;
  }

}
