@use 'reset';
@use 'vars' as v;
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
  font-family: 'Indie Flower', cursive;
  background-color: v.$light;
  min-height: 100vh;
}

.green {
  background-color: lightgreen;
}
.red {
  background-color: lightsalmon;
}
/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
