@use 'src/styles/vars' as v;

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-title {
    color: v.$primary;
    font-size: 1.5rem;
    margin: 2rem 0;
  }
  &-items {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
  }
  &-subitems{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-image{
    width: 20%;
    margin-bottom: 1rem;
    border-radius: 50%;
  }
  &-content {
    width: 48%;
    box-shadow: 0 0 10px v.$grey;
    border-radius: 10px;
    padding: 2rem;
    margin: 0 0 2rem 0;
  }
  & h2{
    width: 30%;
    text-align: center;
    font-size: 2rem;
    color: v.$primary;
  }
  & p{
    width: 30%;
    text-align: center;
    font-size: 1.5rem;
  }
}


