@use 'src/styles/vars' as v;

.navbar__web {
  border-bottom: 2px solid v.$alternate;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 1rem;
  height: 100px;
  display: flex;
  justify-content: space-between;
  
  &__logo {
    align-self: center;
    height: 70px;
    margin: 0 0.5rem;
  }
  &__title {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 2rem;
    & span {
      color: black !important;
    }
    font-weight: bold;
  }
  &__buttons {
    padding: 0.5rem 1rem;
    color: white;
    border: 1px solid transparent;
    background-color: v.$primary;
    border-radius: 5px;
    align-self: center;
    margin: 0 0.6rem;
    font-size: 1.1rem;
    box-shadow: 0 0 5px black;
  }
  &__profil-circle {
    border: 1px solid v.$primary;
    width:  45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: v.$primary;
    box-shadow: 0 0 3px black;
  }
}

.navbar__web__button-container {
  align-self: center;
  display: flex;
}
.navbar__search-form-button {
  background-color: transparent;
  border: none;
  color: v.$primary;
  font-size: 1.2rem;
}

.navbar__web__logo-container {
  display: flex;
  align-items: center;
}

.navbar__search-form {
  box-shadow: 0 0 10px v.$alternate;
}
